.box{
    display: flex;
    justify-content: center;
    padding:10px ;
p {
    padding-left: 10px;
    color: rgb(109, 85, 49);
}


}
.box0{
    width: 300px;
    height: 70px;
    background-color:#f0d9b0;
}
.box1{
    width: 300px;
    height: 70px;
    background-color:#eec987;
}
.box2{
    width: 300px;
    height: 70px;
    background-color:#dcb375;
}
.box3{
    width: 300px;
    height: 70px;
    background-color:#d7ab68;

}
.box4{
    width: 300px;
    height: 70px;
    background-color:#cea15d;

}
.box5{
    width: 300px;
    height: 70px;
    background-color: #cd9748;
}
.box6{
    width: 300px;
    height: 70px;
    background-color:#cd8f34;
}

.box7{
    width: 300px;
    height: 70px;
    background-color:#a06f49;
}
.box8{
    width: 300px;
    height: 70px;
    background-color:#9b7147;
}
.box9{
    width: 300px;
    height: 70px;
    background-color:#91683f;
}
.box10{
    width: 300px;
    height: 70px;
    background-color:#8a633e;

}
.box11{
    width: 300px;
    height: 70px;
    background-color:#7b5634;

}
.box12{
    width: 300px;
    height: 70px;
    background-color: #63462b;
}
.box13{
    width: 300px;
    height: 70px;
    background-color:  #483522;
}


