#maincvisual{
    text-align: center;
}

h1{
    color: rgb(80, 77, 74);
    font-size: 50px;
    

}        
.brown{
            color: rgb(80, 53, 27);
            font-size: 30px;
        }
        .name{
            color: rgb(133, 100, 67);
            font-size: 20px;
        }
   
