
#maincvisual{
    height: 30vh;
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    h1{
        color: transparent;
        -webkit-text-stroke: 2px $titlecolor;
        font-size: 550%;
    }        
   .brown{
        color: rgb(80, 53, 27);
        font-size: 30px;
    }
    .name{
        color: rgb(142, 107, 73);
        font-size: 18px;
        padding-top: 10px;
    } 
}
