
#subscribe{
	height: 80vh;
    font-family: $mainfont;
    text-align: center;
	h1{
		font-size: 350%;
		color: $titlecolor;
		padding: 8% 3% 3% 3%;
	}
	p{
		padding: 2%;
		font-size: 130%;
	}
    div{
        display: flex;
        justify-content: center;
        height: 6vh;
        padding: 2%;
		textarea{
			
		}
    }
}

/*== ボタン共通設定 */
.btn{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
   	border: 1px solid #555;/* ボーダーの色と太さ */
    padding: 10px 30px;
	text-align: center;
    outline: none;
    /*アニメーションの指定*/   
    transition: ease .5s;
}

/*ボタン内spanの形状*/
.btn span {
	position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color:#333;
}

.btn:hover span{
	color:#fff;
}

/*== 背景が流れる（中央から外） */

.bgcenterout:before {
	content: '';
    /*絶対配置で位置を指定*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
    /*色や形状*/
	background: #333;
	width: 100%;
	height: 100%;
    /*アニメーション*/
	transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
	transform: scale(0, 0);
	transform-origin:center;
}

/*hoverした際の形状*/
.bgcenterout:hover:before{
	transform:scale(1, 1);
}

.check{
	background-color: #e9ded6;
	text-align: center;
	margin: auto;
	height: 80vh;
	width: 80vw;
	font-family: $mainfont;
	h1{
		padding: 8%;
		font-size: 300%;
		color: $titlecolor;
	}
	p{
		font-size: 200%;
	}
}

.thanks{
	background-color: #e9ded6;
	text-align: center;
	margin: auto;
	height: 80vh;
	width: 80vw;
	font-family: $mainfont;
	h1{
		padding: 8%;
		font-size: 300%;
		color: $titlecolor;
	}
	h3{
		padding: 2%;
		font-size: 200%;

	}
	p{
		font-size: 200%;
	}
}