*{
    margin: 0;
    padding: 0;
}

$mainfont: 'Roboto', sans-serif;
$maincolor: #F6F3EE;


@import"header";
@import"mainvisual";



body{
    background-color: $maincolor;
}

#light-night{
    display: flex;
    justify-content: center;
    align-items: center;
}


<<<<<<< HEAD



@import"footer";
=======
@import"footer";
>>>>>>> d82120b708dd227b8baef15c0b545f99671856c9
