*{
    margin: 0;
    padding: 0;
}

$mainfont: 'Roboto', sans-serif;
$maincolor: #F6F3EE;


@import"header";
@import"mainvisual";



body{
    background-color: $maincolor;
}

#light-night{
    display: flex;
    justify-content: center;
    align-items: center;
}





@import"footer";