@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-left img {
  height: 80px;
}

.header-right {
  margin-left: auto;
}

.header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding-right: 50px;
}

.header-right li {
  margin: 20px;
}

.header-right a {
  color: #ab8462;
  text-decoration: none;
}

#maincvisual {
  height: 30vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#maincvisual h1 {
  color: transparent;
  -webkit-text-stroke: 2px #857f7f;
  font-size: 550%;
}

#maincvisual .brown {
  color: #50351b;
  font-size: 30px;
}

#maincvisual .name {
  color: #8e6b49;
  font-size: 18px;
}

body {
  background-color: #F6F3EE;
}

#fivecolor {
  height: 50vh;
}

#fivecolor .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fivecolor .container {
  height: 150px;
  width: 300px;
}

#fivecolor .container.color1:after {
  background-color: #3a291e;
}

#fivecolor .container.color2:after {
  background-color: #704f3a;
}

#fivecolor .container.color3:after {
  background-color: #a67556;
}

#fivecolor .container.color4:after {
  background-color: #c2a18b;
}

#fivecolor .container.color5:after {
  background-color: #deccc1;
}

#fivecolor .container:after {
  display: block;
  content: "";
  position: relative;
  top: 25%;
  left: 33%;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

#light-night {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#light-night .light, #light-night .night {
  text-align: center;
  width: 30%;
  padding: 8%;
  font-family: "Roboto", sans-serif;
}

#light-night .light img, #light-night .night img {
  padding-bottom: 3%;
  height: 200px;
}

#about h2 {
  font-family: "Roboto", sans-serif;
  font-size: 250%;
  text-align: center;
  color: #857f7f;
  padding: 8%;
}

#about .missu, #about .emily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0% 8% 8% 8%;
}

#about .missu .myself, #about .emily .myself {
  width: 30vw;
  padding: 6%;
}

#subscribe {
  height: 60vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#subscribe h1 {
  font-size: 350%;
  color: #857f7f;
}

#subscribe p {
  padding: 2%;
  font-size: 130%;
}

#subscribe div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6vh;
  padding: 2%;
}

/*== ボタン共通設定 */
.btn {
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 1px solid #555;
  /* ボーダーの色と太さ */
  padding: 10px 30px;
  text-align: center;
  outline: none;
  /*アニメーションの指定*/
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

/*ボタン内spanの形状*/
.btn span {
  position: relative;
  z-index: 3;
  /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #333;
}

.btn:hover span {
  color: #fff;
}

/*== 背景が流れる（中央から外） */
.bgcenterout:before {
  content: '';
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*色や形状*/
  background: #333;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

/*hoverした際の形状*/
.bgcenterout:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

footer {
  height: 20vh;
  text-align: center;
  border: aqua 1px;
}
/*# sourceMappingURL=main.css.map */